html {
    text-align: center;
    font-family: "Arial Narrow";
    background-color: rgba(19,22,23,0.2);
    font-weight: bold;
}

header {
    font-size: 40px;
}

input {
    font-size: x-large;

}

button {
    width: 80px;
    height: 40px;
    font-size: large;
}